body
{
	background-color: green;
	font-family: georgian;
	font-size: 30px;
	color: black;
}
h1
{
	font-size: 40px;
	color: orange !important;
}

/* Nieodwiedzony link */
a:link
{
	color: red;
}

/* Odwiedzony link */
a:visited
{
	color: pink;
}

/* Link po najechaniu kursorem */
a:hover
{
	color: purple;
}